* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

  html {
    font-family: 'Poppins', sans-serif;
  }
  body {
    background-color: rgb(54, 54, 212);
  }

header {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.calculator-container {
    display: flex;
    justify-content: center;
}
.calculator {
  
    background-color: rgb(201, 203, 204);
    padding: 15px;
    border-radius: 15px;
    background-color: #e8f1f2;
   
    
}


.calculatorBody {
    display: flex;
    flex-direction: column;
    
    
   
 
}

.calculatorDisplay {
    background-color: rgb(243, 230, 216);
    padding: 20px;
    margin-bottom: 20px;
    background-color: #028090;
    
}


.row {
    display: flex;
    
    
}

.calculator button {
    flex: 1;
    margin: 5px;
    width: 80px;
    height: 80px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
    font-size: 40px;
    border: none;
    color: white;
    
}

.button-number {
    background-color: #028090;
}

.button-operator {
    background-color: #114B5F;
}

button#clear {
    background-color:lightcoral;
}


footer {
   color:#028090;
}
footer a {
    text-decoration: none;
    color: #114B5F;
}