* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    background-color: rgb(54, 54, 212);
  }

header {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.calculator-container {
    display: flex;
    justify-content: center;
}
.calculator {
  
    background-color: rgb(201, 203, 204);
    padding: 15px;
    border-radius: 15px;
   
}


.calculatorBody {
    display: flex;
    flex-direction: column;
  
    
    
 
}

.calculatorDisplay {
  padding: 20px;
    
}
.row {
    display: flex;
    
    
}

.row button {
    flex: 1;
    margin: 5px;
    width: 80px;
    height: 80px;
    box-shadow: 0 8px 6px -6px black;
    border: none;
    
}